Django==5.0.2
django-allauth==0.61.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==21.2.0
mysqlclient==2.2.4
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydantic==2.6.3
pydantic_core==2.16.3
PyMySQL==1.1.0
uvicorn==0.27.1
django-cors-headers==4.3.1
