{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Signup</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <br><br>
        <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>



</div>
{% endblock %}
